html
{
	/*max-width: 848px;*/
	/*margin: 0 auto;*/
}

body
{
/*	text-align: center;
	padding-left: 2%;
	padding-right: 2%;*/
}

.top-navbar {
	box-shadow: 0 0 10px rgba(10, 10, 10, 0.2);
	z-index: 3;
	opacity: 0.8;
}

.navbar .brand{
	position: relative;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.bottom-nav .btn-group{
	padding-top: 3%;
	padding-bottom: 3%;
}

.container
{
	/*min-width: 100%;*/
}

.row{
	min-width: 100%;
}

.content
{
	max-width: 900px;
	/*padding-top: 15%;*/
	/*display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;*/
}

.film-display
{
	padding-top: 12%;
}

.film-poster
{
	padding-top: 3%;
	padding-bottom: 3%;
	height: 225px;
	width: 150px;
}

.film-detail {

}

.film-detail-title
{
	display: block;
	margin-right: 5%;
	text-align: center;
}

.film-detail-poster
{
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #E6E6E6;
	/*min-height: 400px;*/
	filter: blur(5px) brightness(0.5);
	-webkit-filter: blur(5px);
	margin-bottom: 5%;
}

.film-detail-score
{
	margin: 0 auto;
	/*background-color: #E6E6E6;*/
	background-size: cover;
	font-size: 2.5em;
	text-align: center;
	vertical-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
	display: block;
}

.film-detail-favourite-button .btn
{
	display: block;
	margin-right: 3%;
	margin-left: 3%;
}

.film-detail-unfavourite-button .btn
{
	display: block;
	margin-right: 3%;
	margin-left: 3%;
}

.film-detail-synopsis
{
	/*background-color: #272822;*/
	/*color: #E6E6E6;*/
	font-weight: bolder;
	padding-top: 5%;
	font-size: 1.5em;
	text-decoration: bolder;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
}

.film-detail-cast
{
	/*background-color: #E6E6E6;*/
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}